name: Python package install and use E2E

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Python ${{ matrix.python-version.version }} SDK E2E Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        python-version: [
          {version: "3.8", versionName: "py38"},
          {version: "3.9", versionName: "py39"},
          {version: "3.10", versionName: "py310"},
          {version: "3.11", versionName: "py311"},
          {version: "3.12", versionName: "py312"}
        ]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version.version }}
      - name: Install Dependencies via Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install --with dev
        shell: bash
      - name: Lint with Ruff  
        run: |  
          pip install ruff  
          ruff check . --target-version=${{ matrix.python-version.versionName }}
        continue-on-error: true  
      - name: Run simple evaluation E2E
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          TONIC_TEXTUAL_API_KEY: ${{ secrets.TONIC_TEXTUAL_API_KEY }}
        run: |
          poetry run pytest -s
        shell: bash