name: Python package install and use E2E

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies via Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install
        shell: bash
      - name: Run simple evaluation E2E
        env:
          OPENAI_API_KEY: "not_actually_used"
        run: |
          poetry run python -c \
          "from tonic_validate import ValidateScorer, Benchmark
          from tonic_validate.metrics import AnswerMatchMetric
          import os
          def get_llm_response(question):
              return {
                  'llm_answer': 'Paris',
                  'llm_context_list': ['Paris is the capital of France.']
              }
          benchmark = Benchmark(questions=['What is the capital of France?'], answers=['Paris'])
          scorer = ValidateScorer([AnswerMatchMetric('MustMatchParis', 'Paris')])
          run = scorer.score(benchmark, get_llm_response)
          print(run)"
        shell: bash